<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
html,body {
    font-family: 'Raleway', sans-serif; 
  
}
.thankyou-page ._header {
    background: #2b28fe;
    padding: 40px 30px;
    text-align: center;
    background:  #2b28fe;
    padding-bottom: 60px;
}
.thankyou-page ._header .logo {
    max-width: 200px;
    margin: 0 auto 50px;
    padding-bottom: 50%
}
.thankyou-page ._header .logo img {
    width: 100%;
}
.thankyou-page ._header h1 {
    font-size: 65px;
    font-weight: 800;
    color: white;
    margin: 0;
}
.thankyou-page ._body {
    margin: -70px 0 30px;
}
.thankyou-page ._body ._box {
    margin: auto;
    max-width: 80%;
    padding: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
}
.thankyou-page ._body ._box h2 {
    font-size: 32px;
    font-weight: 600;
    color: #4ab74a;
}
.thankyou-page ._footer {
    text-align: center;
    padding: 50px 30px;
}

.thankyou-page ._footer .btn {
    background: #4ab74a;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
}
</style>




<div class="thankyou-page mb-5 mt-0">
    <div class="_header">
        <!-- <div class="logo">
            <img src="https://codexcourier.com/images/banner-logo.png" alt="">
        </div> -->
        <h1>Thank You!</h1>
    </div>
    <div class="_body ">
        <div class="_box" style="width:50%; height:5% ;">
             {{!-- <h2>
                <strong>Please check your Order History</strong> for further instructions on how to complete your account setup.
            </h2> --}}
             <p>
              <h4> <b> You've Successfully Placed the Order</b></h4><br>
              <h6>You can check status of your order by using delivery status feature</h6><br>
            <a class="btn btn-primary" href="/orderHistory">View Orders</a>
    <div class="_footer mb-5">
        <!-- <p>Having trouble? <a href="">Contact us</a> </p> -->
        <a class="btn" href="/shope" style="padding-bottom: 20px;">Shop Again</a>
    </div>



            </p> 
        </div>
    </div>
    {{!-- <div class="_footer mb-5">
        <!-- <p>Having trouble? <a href="">Contact us</a> </p> -->
        <a class="btn" href="/user-shope" style="padding-bottom: 20px;">Shop Again</a>
    </div> --}}
</div>
